* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	border: 3px solid red;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	border: 3px solid orange;
	text-align: center;
	font-size: 25pt;
}

header button {
	font-size: inherit;
}

main {
	height: 100%;
	flex-grow: 1;
	border: 3px solid yellow;
	overflow-y: hidden;
	display: flex;
}

#area {
	flex-grow: 1;
	margin: 20px;
	border: 3px solid yellowgreen;
	display: flex;
	flex-flow: var(--direction) wrap;
	justify-content: center;
	align-content: center;
}

/* boxes */
#area > div {
	border: 3px solid green;
	background-color: lightgray;
	height: var(--size);
	width: var(--size);
}
