* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	border: 3px solid red;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	border: 3px solid orange;
}

main {
	height: 100%;
	flex-grow: 1;
	border: 3px solid yellow;
	display: flex;
}

.area {
	flex-grow: 1;
	margin: 20px;
	border: 3px solid yellowgreen;
}
